body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0;
    background-color: #e7e2d3;
    color: #25303b;
}

h1 {
    font-size: 2em;
}

h1, h2, h3, h4, h5, h6 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    text-decoration: none;
    color: #0095d6;
}

a:hover {
    color: #f18625
}

p {
    line-height: 1.5em;
}

#content-area {
    margin: 0 10vw;
    background-color: white;
    padding: 12px 5vw;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 0 10px 0px #25303b;
}

#main-nav ul {
    list-style-type: none;
    padding:0;
    margin-left:-5vw;
    margin-right:-5vw;
}

#main-nav li {
    display:inline-block;
    width:25%;
    text-align: center;
    background-color: #00627d;
}

#main-nav a {
    display:block;
    line-height: 3rem;
    color: white;
}

#main-nav a:hover {
    background-color: #0095d6;
}

/* EXERCISE 2.4, APPROACH 1: float */
/*main {
    width: 75%;
    box-sizing: border-box;
    padding-right: 12px;
    float:left;
}

footer {
    clear:both;
}*/

/* EXERCISE 2.4, APPROACH 2: inline-block*/
main {
    width:75%;
    display: inline-block;
    box-sizing: border-box;
    padding-right: 12px;
}

aside {
    display: inline-block;
    vertical-align: top;
}

footer {
    background-color: #00627d;
    color: white;
    height:4rem;
    margin:0 -5vw -12px -5vw;
    text-align: center;
}

footer p {
    line-height: 4rem;
}


/* EXERCISE 2.4, APPROACH 3: position */
/*#middle-section {
    position: relative;
}

main {
    width:75%;
    box-sizing: border-box;
    padding-right:12px;
}

aside {
    box-sizing: border-box;
    position:absolute;
    top:0px;
    left:75%;
}*/
 
#page-title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4rem;
    display:inline-block;
    width:75%;
}

#page-title a {
    color:#00627d;
}

header {
    font-size: 0;
}

#date {
    display: inline-block;
    text-align: right;
    width:25%;
    font-size:1rem;
}

.current-story {
    float:right;
    position: relative;
}

.current-story figcaption {
    position: absolute;
    width:100%;
    text-align: center;
    bottom:0em;
    line-height: 2em;
    background-color: #ffffffcc;
}

.story-preview {
    display: inline-block;
}
